# House Predict

In [69]:
import pandas as pd
import numpy as np

## Definition : predict housing price base on atribute of data

In [70]:
df=pd.read_csv("data1/train.csv",index_col="Id")

In [71]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

# Feature selection

In [72]:
feature=["LotArea","YearBuilt","1stFlrSF","2ndFlrSF","FullBath","BedroomAbvGr","TotRmsAbvGrd"]

# Splitting dataset

In [73]:
x=df[feature]

In [74]:
x.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,
1,8450,2003,856,854,2,3,8
2,9600,1976,1262,0,2,3,6
3,11250,2001,920,866,2,3,6
4,9550,1915,961,756,1,3,7
5,14260,2000,1145,1053,2,4,9

In [75]:
y=df.SalePrice
y.head()

Id
1    208500
2    181500
3    223500
4    140000
5    250000
Name: SalePrice, dtype: int64

In [76]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

# Train model
## using Decision tree to training model

In [77]:
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor(random_state=1)

In [78]:
model.fit(x_train,y_train)

DecisionTreeRegressor(random_state=1)

In [79]:
y_predict=model.predict(x_test.head())

In [80]:
pd.DataFrame({'y':y_test.head(),'y_pred':y_predict})

          y    y_pred
Id
530  200624  335000.0
492  133000  140200.0
460  110000  119000.0
280  192000  207500.0
656   88000  112000.0

In [81]:
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
random_model=RandomForestRegressor(random_state=1)
random_model.fit(x_train,y_train)
y_predict=random_model.predict(x_test)

In [82]:
y_predict[:5],y_test[:5]

(array([271690., 155039., 122024., 188915.,  91147.]),
 Id
 530    200624
 492    133000
 460    110000
 280    192000
 656     88000
 Name: SalePrice, dtype: int64)

# Print rate of prediction

In [89]:
from sklearn.metrics import r2_score
r2_score(y_test,y_predict)*100

78.42596223072972

i see rate of predict is 78%
no bad for a model

# we try for a data string to predict housing prices

In [91]:
random_model.predict([[6969,2021,1000,800,4,5,8]])

array([206158.4])